@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background: url('/image/header_bg.jpg') center/cover;
}

#menu li a {
    font: 0.8em ;
    color: #fff;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px){
    h1 {font-size: 2.5em;}
}