@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Source+Sans+Pro&display=swap');
header {
    position: relative;
    background: url('/image/header_bg.jpg') center/cover;
    height: 100vh;
    padding-top: 40px;
    text-align: center;
}
nav { text-align: center }
#menu li a {
    font: .8em Poppins, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, .footer p{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

h1 { font-size: 2em }
h2 { font-size: 1.5em; text-transform: capitalize; margin-bottom: 30px; }
h3 { font-size: 1.8em; color: #a2ca28; margin-bottom: 20px;}
h4 { font-size: 1.8em; color: #fff; margin-bottom: 20px;}
h5 { font-size: 1em; letter-spacing: 3px }
h6 { font: .9em 'Montserrat', sans-serif; color: #fd634e; }
h1 span { color: #a2ca28 }
h5 span { color: #f0604c }

#strip {
    position: absolute;
    height: 50px;
    background: #fd634d4d;
    width: 100%;
    bottom: 0;
}

.title {
    position: absolute;
    width: 100%;
    bottom: 15vh;
}

@media only screen and (min-width: 768px) {
    .container { max-width: 1180px; margin: auto; }
    .title { width: inherit; left: 100px ; }
    header, nav { text-align: inherit }
    nav {padding: 0 60px;}
    #menu { float: right }
    #menu li { display: inline-block }
    #menu li:not(:last-child) { margin-right: 2.5vw;}
}